@model IEnumerable<ContosoUniversity.ViewModels.EnrollmentDateGroupVM>

@{
    ViewBag.Title = "Student Body Statistics";
}

<h2>Student Body Statistics</h2>

<div class="table-responsive">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">
                    Enrollment Date
                </th>
                <th scope="col">
                    Students
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.EnrollmentDate)
                    </td>
                    <td>
                        @item.StudentCount
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>